<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="true">

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../../src</directory>
        </include>
        <exclude>
            <directory suffix="Launcher.php">../../src/PAMI/Application</directory>
            <directory suffix=".php">../../vendor</directory>
        </exclude>
        <report>
            <html outputDirectory="../../build/coverage-html"/>
            <clover outputFile="../../build/logs/clover.xml"/>
        </report>
    </coverage>
    
    <testsuites>
        <testsuite name="Client">
          <directory suffix=".php">../client</directory>
        </testsuite>
        <testsuite name="Actions">
            <directory suffix=".php">../actions</directory>
        </testsuite>
        <testsuite name="Events">
            <directory suffix=".php">../events</directory>
        </testsuite>
    </testsuites>
</phpunit>